* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #333;
    background-color: #fff;
    /* text-align: center; */
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #eee;
    display: grid;
}

fieldset {
    /* position: relative; */
    /* display: grid;
    gap: 20px; */
    margin: 1.5rem 0;
    border: 1px solid #e0e0e0;
    padding: 1.5rem;
}

legend {
    padding: 0 0.5rem;
    color: navy;
    font-family: Merriweather, Georgia, serif;
    font-size: 1.3em;
    /* position: absolute;
    bottom: 0;
    right: 0; */
}

label,
input,
button,
select,
textarea {
    font-family: Merriweather, Georgia, serif;
    /* margin: 1rem; */
}

label {
    text-align: right;
    padding-right: 1rem;
    /* margin: 1rem; */
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    /* align-items: center;
    width: 250px; */
    justify-self: center;
    margin: 2rem 0 1rem 0;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
    margin: 1rem 0;
    /* text-align: center; */
}

.column1 {
    grid-template-columns: 4fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 3fr;
    margin: 0.5rem 0;
}

/* Adding something more */
.pet-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
}

.places-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
}

textarea {
    width: 100%;
    margin-top: 0.5rem;
    resize: none;
}