:root {
    --primary-color: white;
    --padding: 10px;
    --border-color: solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: var(--padding);
}

nav a {
    color: var(--primary-color);
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 600px;
    margin: 20px;
    border: 5px var(--border-color);
    padding: var(--padding);
    background-color: lightslategray;
    color: var(--primary-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px var(--border-color);
    text-align: center;
}

/* Class Selectos */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: black;
}

aside h2 {
    position: absolute;
    /* top: 0; */
    left: 250px;
}